.hanger {
    font-size: 5rem;
    position: absolute;
    top: 80%;
    cursor: pointer;

    filter: drop-shadow(0 2px 2px #fff);
}

.screen2-right {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

// Sessions

.session-img-container {
    padding: 5rem !important;
    position: relative;
}

.session-img {
    width: 100%;
    max-height: 100%;
    border: 8px solid #fff;
}

.sessions-link:hover {
    img {
        border: 2px solid $green;
    }

    div p {
        color: $green;
    }
}

.rotate-left { transform: rotate(-5deg); } .rotate-right { transform: rotate(5deg); }

// Single Session
.session-photo-controls {
    display: flex;
    justify-content: space-between;

    .is-clickable:hover {
        color: $green
    }
}

.session-interview-text {
    height: 600px;
    overflow-y: auto;
}