.is-desktop {
    display: flex !important
} .is-mobile {
    display: none !important;
}

.hanger {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
    
    svg {
        font-size: 3.5rem;
        filter: drop-shadow(0 2px 2px #fff);
    }
}


.formscreen-right {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    padding: 3rem !important
}

.form-heading, .form-button {
    margin-bottom: 3rem !important;
}

.text-heading {
    margin: 3rem 0 !important
}

// Sessions

.session-img-container {
    padding: 5rem !important;
    position: relative;
}

.session-img {
    width: 100%;
    max-height: 100%;
    border: 8px solid #fff;
}

.sessions-link:hover {
    img {
        border: 2px solid $green;
    }

    div p {
        color: $green;
    }
}

.sessions-btn {

    &.is-mobile {
        z-index: 10;
        box-shadow: 8px 8px 1px rgba(0,0,0,0.25);
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    &.is-desktop {
        z-index: 10;
        box-shadow: 8px 8px 1px rgba(0,0,0,0.25);
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translate(-60%);
    }
}

.rotate-left { transform: rotate(-5deg); } .rotate-right { transform: rotate(5deg); }

// Single Session
.session-photo-controls {
    display: flex;
    justify-content: space-between;

    .is-clickable:hover {
        color: $green
    }
}

.session-interview-container {
    margin: 0 3rem !important
}

.session-interview-text {
    height: 600px;
    overflow-y: auto;
}

.session-section-padding {
    padding: 0 3rem !important
}

// Mobile Styles
@media only screen and (max-width: 768px) {

    .is-desktop {
        display: none !important
    } .is-mobile {
        display: flex !important;
    }

    .hanger {
        position: fixed;
        opacity: 0.5
    }

    .hero-body.columns {
        display: flex;
        flex-direction: column;

        .is-first-column {
            min-height: 85vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .sessions-screen {
        min-height: 100vh;
    }

    .session-img {
        border: none;
        
    }

    .formscreen-right {
        padding: 0.75rem 3rem !important
    }

    .form-heading, .form-button, .text-heading {
        margin: 1.5rem 0 !important
    }

    .session-interview-container {
        margin: 0 !important
    }
    .session-interview-text {
        height: unset;
        overflow-y: unset;
    }
    .session-columns {
        display: flex;
        flex-direction: column-reverse;
    }
    .session-section-padding {
        padding: 0 1.5rem !important
    }
    .session-nav-mobile {
        display: flex !important;
        justify-content: space-between;
    }
}
