.hanger {
    font-size: 5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;

    filter: drop-shadow(0 2px 2px #fff);
}

.screen2-right {
    p {
        width: 80%;
        margin-left: 10%;
    }
}